---
const { book, showName = "true", showLink = "true" } = Astro.props;
const { identifier, title: titleString = "Title Missing" } = book;

let title: string = titleString.includes(":")
    ? titleString.split(":")[0].trim()
    : titleString;
const subtitle = titleString.includes(":")
    ? titleString.split(":")[1].trim()
    : undefined;

title = showLink ? `<a href="/books/${identifier}">${title}</a>` : title;
---

{
    (title || identifier) && showName && (
        <dt class="title">Title</dt>
        <dd class="title">
            <span
                data-title={title} 
                itemprop="name"
                set:html={title} />
        </dd>
    )
}
{
    subtitle && (

    <dt class="subtitle">Subtitle</dt>
        <dd class="subtitle">
            <span
                data-title={subtitle} 
                itemprop="alternateName"
            >
                <Fragment set:html={subtitle} />
            </span>
        </dd>
    )
}
